body {
    font-size: 15pt;
}
h1{
   font-size: 30pt;
}
.botan {
  font-size: 15pt;
  color: white;
  background: green;
}

  
.main
{
   text-align: center;
   padding: 180px;
}
.mozi
{
  font-size: 35px;
}
#waku {
  font-size: 30px;
  
}
.ho{
  text-align: right;
}
